<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form #form="ngForm" (ngSubmit)="login()" novalidate>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input #email="ngModel" matInput [(ngModel)]="user.email" name="email" required email />
          @if(email.invalid && email.touched){
            <mat-error >
                Please enter a valid email.
              </mat-error>
          }
         
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input #password="ngModel" matInput type="password" [(ngModel)]="user.password" name="password" required minlength="6" />
          @if(password.invalid && password.touched){
          <mat-error >
            Password must be at least 6 characters long.
          </mat-error>
        }
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Login</button>
      </form>
      <div>
        אין לך חשבון - 
        <span (click)="navigateToSignup()" style="color: blue; cursor: pointer;">ליצירת חשבון לחץ כאן</span>
      </div>
    </mat-card-content>
  </mat-card>
  